<<<<<<< HEAD
<div class="display-flex">
  <% @artists.each do |a| %>
    <div class="display-column">
      <div class="home-card">
        <%= a.name %>
      </div>
      <div class="bio-card">
        <%= a.bio %>
      </div>
    </div>
  <% end %>
</div>
=======
>>>>>>> 0ca09a07c7a420bea84759e8585a5ea9abcd4a5a
