<div class="display-flex">
  <% @artists.each do |a| %>
    <div class="display-column">
      <div class="home-card">
        <%= a.name %>
      </div>
      <div class="bio-card">
        <%= a.bio %>
      </div>
    </div>
  <% end %>
</div>